@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap');

body,
a {
    font-family: 'Cairo', sans-serif;
}

p {
    font-family: 'Tajawal', sans-serif;
}

.left-sidebar .brand .logo .logo-sm {
    height: 70px;
}

.enlarge-menu .topbar .navbar-custom {
    margin-right: 100px;
}

.enlarge-menu .page-content-tab {
    width: calc(100% - 100px);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    direction: rtl;
}

.invoice-head .contact-detail li {
    border: 0;
}

.invoice-head .contact-detail li:not(:last-child) {
    border-right: 0;
    border-left: 2px solid #b6c2e4;
}

.invoice-head {
    border-bottom: 2px solid #b6c2e4;
}

.common-badge {
    left: 10px;
    top: 10px;
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
}

.card-title .add-row {
    font-size: 20px;
    margin-left: 0.5rem;
}

.delete-row {
    font-size: 20px;
}

.col-form-label {
    white-space: nowrap;
    padding-left: 0.5rem;
    font-weight: 700;
}

.card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-header .card-title,
.card .card-header i {
    color: #ff9f43;
}

.card .card-header i {
    font-size: 1.53125rem !important;
}